PORT = 2543
MONGO_URI= <Your MongoDB URI here>
CLOUDINARY_CLOUD_NAME= <Your Cloudinary Cloud Name here>
CLOUDINARY_API_KEY= <Your Cloudinary API Key here>
CLOUDINARY_API_SECRET= <Your Cloudinary API Secret here>
RAZORPAY_KEY_ID= <Your Razorpay Key ID here>
RAZORPAY_KEY_SECRET= <Your Razorpay Key Secret here>
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=<Your SMTP User here>
SMTP_PASS=<Your SMTP Password here>
SMTP_FROM="MedTech Pvt. Ltd."
# FRONTEND_URL=<Your Frontend URL here> <Keep this commented if you are running frontend and backend on the local machine>